* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: hsl(235, 21%, 11%);
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.background-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 350px;
  z-index: -1;
}
.background-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.container {
  width: 100%;
  height: 1000px;
  max-width: 600px;
  margin: 0 30px;
  margin-top: 100px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: white;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 10px;
}
.new-todo {
  background-color: hsl(235, 21%, 11%);
  height: 70px;
  margin-top: 50px;
  border-radius: 6px;
  display: flex;
}
.check {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.check-mark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid hsl(237, 14%, 26%);
  cursor: pointer;
  transition: all 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-mark img {
  visibility: hidden;
}
.check-mark:hover,
.check-mark.checked {
  border-color: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
}

.check-mark:hover img,
.check-mark.checked img {
  visibility: visible;
}
.btn {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 50%;
}
.btn:hover {
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
}
.todo-text.checked {
  text-decoration: line-through;
  color: hsl(233, 14%, 35%);
}
.new-todo-input {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.new-todo-input form {
  flex-grow: 1;
}
.new-todo-input button {
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  outline: none;
  color: hsl(234, 39%, 85%);
  font-size: 18px;
}
.new-todo-input button::placeholder {
  color: hsl(233, 14%, 35%);
}
.todo-item {
  width: 100%;
  display: flex;
  height: 70px;
  background-color: hsl(235, 24%, 19%);
  border-bottom: 1px solid hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
  font-size: 18px;
  transition: all 0.25s ease;
  transition-property: box-shadow, transform, border-color;
  cursor: pointer;
}
.todo-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
  border-color: hsl(235, 24%, 19%);
}
.todo-text {
  display: flex;
  align-items: center;
}
.todo-items-wrapper {
  margin-top: 30px;
  background-color: hsl(235, 24%, 19%);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.4);
}
.todo-item-info {
  height: 70px;
  width: 100%;
  color: hsl(233, 14%, 35%);
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
}
.item-statuses {
  display: flex;
  justify-content: center;
}
.item-statuses span {
  padding: 0 10px;
  cursor: pointer;
}
.item-statuses span:hover,
.item-statuses span.active,
.items-clear:hover {
  color: hsl(220, 98%, 61%);
}
.items-clear {
  cursor: pointer;
  text-align: end;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-container {
  justify-content: center;
  display: flex;
  gap: 50px;
}

#posts {
  width: 400px;
}

i {
  cursor: pointer;
}
#posts div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

.options {
  display: flex;
  gap: 25px;
}

#msg {
  color: red;
}
#form-modal {
  height: 400px;
}
#form-modal textarea {
  height: 100px;
}
.left button {
  width: 100px;
  height: 40px;
  border: 2px solid #000;
  color: rgb(0, 0, 0);
  background: linear-gradient(135deg, #1ce21c 0%, #5dce59 100%);
  cursor: pointer;
}
.left button:hover {
  box-shadow: 3px 3px 4px #000;
}
.left .btn-cancel {
  width: 100px;
  height: 40px;
  border: 2px solid #000;
  color: rgb(255, 247, 247);
  background: linear-gradient(135deg, #f00f1a 0%, #f53d3d 100%);
  cursor: pointer;
  margin-left: 20px;
}
#form-modal label {
  float: left;
}
.fa-edit:hover {
  font-size: 1.3em;
  /* transition: 1s ease-out; */
  color: rgb(86, 219, 86);
}
.fa-trash-alt:hover {
  font-size: 1.3em;
  /* transition: 1s ease-out; */
  color: rgb(255, 7, 7);
}
.form-control {
  height: 30px;
  border: 2px solid #000;
  border-radius: 5px;
}
.left textarea {
  display: flex;
  align-items: left;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 5px;
}
